<div class="list-item-options shadowed animation-options" data-list-target="options" data-animation-target="optionsDiv">
  <div class="list-edit">
    <%= link_to edit_list_path(list) do %>
      <i class="fa-solid fa-pen"></i>edit list
    <% end %>
  </div>
  <div class="list-delete">
    <%= link_to list_path(list), data: {turbo_method: "delete", turbo_confirm: "Do you really want to delete this list?"} do %>
      <i class="fa-regular fa-trash-can"></i>delete list
    <% end %>
  </div>
</div>
