<%= render "shared/logo-top" %>
<div class="container pt-4">
  <h1>Hello <%= current_user.username %>!</h1>
  <h2>Here are your lists for today.</h2>

  <div class="lists-wrapper">
    <% @lists.each do |list| %>
      <%= render "shared/single_list", list: list %>
    <% end %>
  </div>

  <%# TODO: Make this a link %>
  <%= link_to new_list_path do %>
    <div class="new-list-btn shadowed">
      <i class="fa-solid fa-plus"></i>
    </div>
  <% end %>
</div>
