<div class="container">
  <%= render "shared/logo-top" %>
  <h1>This is the list index</h1>

  <% @lists.each do |list| %>
    <%= link_to list.name, list_path(list) %>
  <% end %>
</div>

<%= link_to "New", new_list_path %>
