



<div class="post-wrapper small-padding" data-controller="posts">
  <%= link_to lists_path, class: "close-btn", "data-posts-target": "close" do %>
    <i class="fa-solid fa-xmark"></i>
  <% end %>

  <% @posts.each do |post| %>
    <%= render "shared/show-post", post: post %>
  <% end %>

  <div class="buttons-wrapper">
    <a class="controls unscroll-btn unscroll-btn-ghost"
       href="#" data-action="click->posts#previous"
       data-posts-target="previous">
       Previous
    </a>

    <a class="controls unscroll-btn unscroll-btn-primary"
       href="#" data-action="click->posts#next"
       data-posts-target="next">
       Next
    </a>
  </div>
  <div class="progress-bar-wrapper">
    <div class="progress-bar" data-posts-target="progressBar"></div>
  </div>
</div>
