
<div class="close-btn">
  <%= link_to lists_path do %>
    <i class="fa-solid fa-xmark"></i>
  <% end %>
 <!-- For test only! -->
  <%= link_to posts_path(list_id: @list.id), data: {turbo_method: "post"}, class: '' do %>
    <i class="icon-list fa-sharp fa-solid fa-retweet ms-1"></i>
  <% end %>
</div>
<div class="post-wrapper main-padding" data-controller="posts">
  <%# CONTAINS PARTIAL OF POST %>
  <% @posts.each do |post| %>
    <%= render "shared/show-post", post: post %>
  <% end %>

  <div class="buttons-wrapper">
    <a class="controls unscroll-btn unscroll-btn-ghost"
       href="#" data-action="click->posts#previous"
       data-posts-target="previous">
       Previous
    </a>
    <a class="controls unscroll-btn unscroll-btn-primary"
       href="#" data-action="click->posts#next"
       data-posts-target="next">
       Next
    </a>
  </div>
</div>
