<div class="close-btn">
  <%= link_to :back do %>
    <i class="fa-solid fa-xmark"></i>
  <% end %>
</div>
<div class="post-wrapper main-padding" data-controller="posts">
  <%# CONTAINS PARTIAL OF POST %>
  <% @posts.each do %>
    <%= render "shared/show-post" %>
  <% end %>

  <div class="buttons-wrapper">
    <a class="controls unscroll-btn unscroll-btn-ghost" href="#" data-action="click->posts#previous">Previous</a>
    <a class="controls unscroll-btn unscroll-btn-primary" href="#" data-action="click->posts#next">Next</a>
  </div>
</div>
