<div class="container">
  <h1>This is a show for the <%= @list.name %> list</h1>
  <ul>
    <% @list.all_posts.each do |post| %>
      <li><%= post.caption %></li>
    <% end %>
  </ul>

  <%= link_to "Edit", edit_list_path(@list) %>
</div>

<%= link_to "Add to List", insta_posts_path(list_id: @list.id), data: {turbo_method: "post"} %>
