

<div class="container">
</div>

<div class="center-fullpage">
  <div class="container main-padding">
    <h1 class="mb-5">Let's add an <span class="italic-accent underline">Instagram</span> profile to your <%= @list.name %> list.</h1>

      <%= render 'form' %>

  </div>
</div>
