<h1>hiya</h1>

<%= simple_form_for [@list, @profile] do |f| %>
  <%= f.input :username,
        label: "Instagram username",
        hint: "You don't need to include the @",
        placeholder: "beyonce",
        input_html: { class: "unscroll-form-input shadowed-subtle"},
        hint_html: { class: 'input-hint' },
        label_html: { class: 'unscroll-form-label'},
        class: "new-list-input"
        %>
  <%= hidden_field_tag 'source', 'twitter' %>
  <%= f.button :submit,
      "add Instagram profile",
      class: "unscroll-btn unscroll-btn-primary shadowed mt-3" %>
<% end %>
