<div class="center-fullpage">
  <div class="container main-padding">
    <h1 class="welcome-message mb-5">We're adding <span class="italic-accent underline"><%= flash[:username] %></span> posts to your <%= @list.name %> list.</h1>

    <p class="text-center">What do you want to do in the meantime?</p>

    <%= link_to "Add another profile", list_new_select_path(@list), class: "unscroll-btn unscroll-btn-primary" %>
    <%= link_to "Explore your other lists", root_path, class: "unscroll-btn unscroll-btn-ghost mt-3" %>

  </div>
</div>
