.profile-close {
  color: var(--light-red);
  display: inline;
  position: fixed;
  top: 15px;
  right: 15px;
}

.profile-full-page {
  width: 100%;
  height: calc(100vh - 50px);
  background-color: $gray;
}
