.edit-section {
  height: 50px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;

  .text-list {
    color: black;
    font-family: $headers-font;
    opacity: .5;
    font-size: 16px;
    margin: 0;
  }
}

.link {
  text-decoration: none;
  color: black;
  font-family: $body-font;
  font-size: 16px;
  &:hover {
    color: black;
    opacity: .5;
  }
}

.img-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-card {
  width: 100%;
  margin: auto;
  margin-top: 25px;
  box-sizing: border-box;

  .img-post {
    border-radius: 10px;
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  p {
    font-family: $body-font;
  }

  h2 {
    font-family: $accent-font;
    font-style: italic;
  }
}


.button-dark {
  background-color: $primary-color;
  padding: 5px 15px;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  color: white;
  transition: 0.5s ease;

  &:hover {
    color: white;
    opacity: .7;
    background-color: $primary-color;
  }
}

.button-gray {
  background-color: $subtle-gray;
  padding: 7px 15px;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  color: black;
  transition: 0.5s ease;

  &:hover {
    color: black;
    opacity: .7;
  }
}

.remove-margin-bottom {
  margin-bottom: 0;
}

.center-margin-300 {
  width: 500px;
  margin: auto;
  text-align: center;
  margin-top: 300px;
  margin-bottom: 300px;
}


.margin-bottom-caption {
  margin-bottom: 200px;
}
