.edit-section {
  height: 50px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}
.text-list {
  color: black;
  opacity: .5;
  font-size: 16px;
  margin: 0;
}

.img-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post-card {
  width: 500px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 350px;
  box-sizing: border-box;

}

.img-post {
  border-radius: 10px;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.button-dark {
  background-color: black;
  padding: 8px 15px;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  color: white;

  &:hover {
    color: black;
    background-color: white;
  }
}

.button-transparent {
  background-color: transparent;
  padding: 7px 15px;
  border-radius: 30px;
  border: 1px solid black;
  text-decoration: none;
  text-align: center;
  color: black;

  &:hover {
    color: black;
    opacity: .5;
  }
}

.remove-margin-bottom {
  margin-bottom: 0;
}

.center-margin-300 {
  width: 500px;
  margin: auto;
  text-align: center;
  margin-top: 300px;
  margin-bottom: 300px;
}

.post-counter {
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;


  &:hover {
    color: black;
    opacity: .5;
  }
}
