.post-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .buttons-wrapper {
    width: 100%;
    bottom: 1em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1em;
    padding: 0 2em;
  }

}

.close-btn {
  height: 43px;
  width: 43px;
  background-color: #FF7B85;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: -10px;
  margin-top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;

  a {
    color: white;
  }
}



.single-post-wrapper {
  height: 99%;
  display: flex;
  align-content: center;

  img {
    width: 100%;
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 1em;
  }
}

.post-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;

  .user-info {
    display: flex;
    align-items: center;
  }

  p {
    margin: 0;
  }

}

.read-more {
  color: $subtle-gray;
  display: block;
}

.user-actions {
  color: $primary-color;
  font-size: 1.5em;
}

.full-caption {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  transition: 1s;
}


.progress-bar-wrapper {
  width: 100%;
  .progress-bar {
    height: 7px;
    width: 0%;
    background-color: #FF7B85;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
