<div data-controller="carousel">
        <div class="previous-carousel shadowed" data-action="click->carousel#previousPost" data-carousel-target="previous">
          <i class="fa-solid fa-arrow-left"></i>
        </div>

        <div class="next-carousel shadowed" data-action="click->carousel#nextPost" data-carousel-target="next">
          <i class="fa-solid fa-arrow-right"></i>
        </div>

          <% i = 0 %>
          <% j = 0 %>
          <% post.media_keys.each do |media| %>
            <% if media == 'photo' %>
              <%= cl_image_tag(post.photos[i].key, class:"post-card", data: {carousel_target: "media", action: "touchstart->carousel#swipe" }) %>
              <% i += 1 %>
            <% elsif media == 'video' %>
              <%= cl_video_tag(post.videos[j].key, class: "post-card", preload: "none", controls: true, data: {carousel_target: "media", action: "touchstart->carousel#swipe" }) %>
              <% j += 1 %>
            <% end %>
          <% end %>
          <%= render "shared/post-caption", post: post %>
</div>
