<div class="logo-wrapper">
  <div class="logo-link-wrapper">
    <%= link_to lists_path do %>
      <span class="italic-accent">Un.</span><span class="regular-text">scroll</span>
    <% end %>
  </div>
</div>
