
<div class="list-item-wrapper" data-controller="list animation">
  <div class="icon-wrapper" data-action="click->animation#fade click->list#showOptions" data-list-target="viewOptions">
    <i class="fa-solid fa-gear"></i>
  </div>

  <div class="icon-wrapper d-none" data-action="click->animation#fade click->list#showOptions" data-list-target="back">
    <i class="fa-solid fa-xmark"></i>
  </div>


  <%= render "has_profiles", list: list %>

</div>
