
<div class="list-item-wrapper" data-controller="list">
  <div class="icon-wrapper" data-action="click->list#showOptions" data-list-target="viewOptions">
    <i class="fa-solid fa-gear"></i>
  </div>

  <div class="icon-wrapper d-none" data-action="click->list#showOptions" data-list-target="back">
    <i class="fa-solid fa-xmark"></i>
  </div>



  <%# IF USER HAS NO PROFILES ATTACHED TO THE LIST %>

  <% if list.profiles.size == 0 %>
        <%= render "no_profiles", list: list %>
  <%# IF USER HAS PROFILES ATTACHED TO THE LIST %>

  <% else %>
        <%= render "has_profiles", list: list %>
  <% end %>


</div>
