<div class="main-padding favourite-grid">

  <% @favourite_posts.each do |post| %>
    <div class="position-relative">
        <i class="fa-solid fa-trash unfavourite-btn shadowed"></i>

        <%= link_to post_path(post) do %>
            <% if post.photo.key %>
              <%= cl_image_tag(post.photo.key, class: "favourite-grid-item shadowed") %>
            <% else %>
              <%= image_tag("twitter-logo.jpg.png", class: "favourite-grid-item shadowed") %>
            <% end %>
        <% end %>

        <span class="greyed-out">by <%= post.profile.username %></span>

    </div>

  <% end %>
</div>
