<div class="main-padding favourite-grid">
  <% @favourite_posts.each do |post| %>
    <div>
        <%= link_to post_path(post) do %>
            <%= cl_image_tag(post.photo.key, class: "favourite-grid-item shadowed") %>
        <% end %>
        <span class="greyed-out">by <%= post.profile.username %></span>

    <%# TODO: Add a remove button here & add a remove button on the showpage %>
    <%# TODO: Fix the showpage of a post with kinda the same design as the list showpage %>
    </div>
  <% end %>
</div>
