<%= render "shared/back-button" %>
<div class="container main-padding">

  <h1 class="welcome-message"><span class="italic-accent"><%= current_user.username %></span>'s profile.</h1>

  <%= link_to edit_user_registration_path, class: "unscroll-btn unscroll-btn-primary mt-3 mb-3" do %>
    Change username or password
  <% end %>

  <%= render "shared/log-out" %>

</div>
