

.relative-animation {
  position: relative;
  width: 100%;
}

.animation-main, .animation-options {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.5s ease;
}

.animation-main {
  opacity: 1;
  z-index: 1;
}

.animation-hide {
  opacity: 0;
  pointer-events: none;
}

.animation-show {
  opacity: 1;
  pointer-events: auto;
}
