.unscroll-btn {
  border-radius: 3px;
  width: 100%;
  padding: 6px 12px;
  text-align: center;
}

.unscroll-btn-sm {
  border-radius: 3px;
  padding: 6px 12px;
  text-align: center;
}

.unscroll-btn-primary {
  background-color: var(--light-red);
  color: var(--light);
}

.unscroll-btn-ghost {
  border: 1px solid var(--light-red);
  color: var(--light-red);
}

.fixed-bottom-right {
  position: fixed;
  bottom: 65px;
  right: 15px;
}
