.unscroll-form {
  padding: 1em;
  margin-top: 2em;

  a {
    color: $subtle-gray;
  }

  h1 {
    font-style: italic;
    font-weight: 400;
    margin-bottom: 1.5em;
  }
}

.unscroll-form-input {
  background-color: white;

  &:focus {
    background-color: white;
  }
}

.unscroll-form-label {
  color: $subtle-gray;
  font-family: $accent-font;
}
