// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Variables
:root {
  --light: #EFF7FF;
  --dark: #161315;
  --dark-blue: #2E4052;
  --dark-blue-50: rgba(46, 64, 82, .5);
  --yellow: #FFC857;
  --light-red: #EF626C;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
}

