body {
  background-color: rgb(28, 28, 28);
  color: white;
}

.card-post-text {
  background-color: rgba(0, 0, 0, 0.937);
}

.hyphens {
  background-color: rgb(18, 18, 18);
}

.tw-gradient {
  background-image: linear-gradient(to bottom right, black, rgb(184, 227, 255));
}

.ig-gradient {
  background-image: linear-gradient(to bottom right, black, rgb(255, 184, 184));
}

.full-caption {
  background-color: rgb(28, 28, 28);
}

.unfavourite-btn {
  background-color: rgb(28, 28, 28);
}
